/00_yandex_music/yandex_music_project.csv
/01_borrowers_data_preprocessing/borrowers_data_preprocessing.csv
/01_borrowers_data_preprocessing/borrowers_data_preprocessing_review.ipynb
/02_real_estate_analysis/real_estate_data.csv
/02_real_estate_analysis/real_estate_analysis_review.ipynb
/03_tariff_analysis/calls.csv
/03_tariff_analysis/internet.csv
/03_tariff_analysis/messages.csv
/03_tariff_analysis/tariffs.csv
/03_tariff_analysis/users.csv
/04_games_analysis/games.csv
/04_games_analysis/games_analysis_review.ipynb
/05_users_classification_by_tariff/users_behavior.csv
/05_users_classification_by_tariff/users_behavior_by_tariff_review.ipynb
/06_bank_churn_prediction/churn.csv
/06_bank_churn_prediction/bank_churn_prediction_review.ipynb
/07_development_of_new_oil_fields/geo_data_0.csv
/07_development_of_new_oil_fields/geo_data_1.csv
/07_development_of_new_oil_fields/geo_data_2.csv
/07_development_of_new_oil_fields/development_of_new_oil_fields_review.ipynb
/08_gold_recovery_rate_prediction/gold_industry_full.csv
/08_gold_recovery_rate_prediction/gold_industry_test.csv
/08_gold_recovery_rate_prediction/gold_industry_train.csv
/08_gold_recovery_rate_prediction/gold_recovery_rate_prediction_review.ipynb
/09_algorithm_for_data_protection/insurance.csv
/09_algorithm_for_data_protection/algorithm_for_data_protection_review.ipynb
/10_car_price_prediction/autos.csv
/10_car_price_prediction/car_price_prediction_review.ipynb
/11_taxi_trips_prediction/taxi.csv
/11_taxi_trips_prediction/taxi_trips_prediction_review.ipynb
/12_toxic_comments_classification/toxic_comments.csv
/12_toxic_comments_classification/toxic_comments_classification_review.ipynb
/13_age_recognition_by_photo/age_recognition_by_photo_review.ipynb
/14_steel_temp_prediction/data_arc_new.csv
/14_steel_temp_prediction/data_bulk_new.csv
/14_steel_temp_prediction/data_bulk_time_new.csv
/14_steel_temp_prediction/data_gas_new.csv
/14_steel_temp_prediction/data_temp_new.csv
/14_steel_temp_prediction/data_wire_new.csv
/14_steel_temp_prediction/data_wire_time_new.csv
/14_steel_temp_prediction/steel_temp_prediction_review.ipynb